<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Create</title>
    </head>

    <body>
        <form>
            {% for key in info %}
                {% for track in tracks %}
                    {% for href in info[key] %}
                        {% if track['track']['href'] == href%}    
                            <a>{{ track['track']['name'] }}</a> <br>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <label>
                    <span>{{key}}</span>
                    <input type="checkbox" name="tag" value="{{key}}">
                </label>
                <br>
            {% endfor %}
            <input type="button" value="Submit">
    </body>

</html>