<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/style.css') }}">
        <script src="{{ url_for('static', filename='dist/draggable.js') }}" defer></script>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='src/icon.png') }}">
        <link rel="preload" href="../static/src/header.png" as="image">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>Dashboard</title>
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

            html {
                font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            }
        </style>
    </head>
    
    <body class="bg-cover bg-fixed h-screen overflow-hidden text-white" style="background-image : url('../static/src/header.png')">
        
        <div class="pt-4 container mx-auto">
            <h1 class="my-4 text-5xl md:text-8xl text-white opacity-75 font-bold leading-tight text-left">
                <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
                Last</span> step
            </h1>
            <p class="text-white text-sm sm:text-lg md:text-1xl lg:text-2xl pt-5">
                Choose the genres that you want to add to your new playlist by clicking on them.
            </p>
        </div>

        <div class="h-full grid grid-row md:grid-rows-3 grid-flow-col gap-4 container m-auto pt-8 pb-80">
            <div class="bg-gray-800 bg-opacity-75 rounded-lg h-full w-full overflow-auto scrollbar row-span-3 justify-self-start" style="direction:rtl;">
                <div class="m-10 grid grid-cols-1 lg:grid-cols-2 gap-y-2 gap-x-5" style="direction:ltr;">
                    {% for key in info %}
                        <label class="border-2 border-white border-opacity-20 pt-3 rounded-xl h-12 truncate text-justify hover:scale-105 duration-300 ease-in-out" onclick="myFunction('{{ key }}')" id="{{key}}" >
                            <span class="mx-4">{{key}}</span>
                        </label>
                    {% endfor %}
                    <script>
                        function myFunction(key) {
                            if (document.getElementById(key).classList.contains("bg-gray-600")) {
                                document.getElementById(key).className = "border-2 border-white border-opacity-20 pt-3 rounded-xl h-12 truncate text-justify hover:scale-105 duration-300 ease-in-out";
                            } else {
                                document.getElementById(key).className += " scale-105 bg-gray-600";
                            }
                        }
                    </script>
                    <p id="demo"></p>
                </div>
            </div>

            <div class="bg-gray-800 bg-opacity-75 rounded-lg h-full w-full row-span-2 col-[span_30] xl:col-[span_50]">
                <p class="text-white text-sm font-bold sm:text-lg md:text-1xl lg:text-3xl pt-10 pl-10">
                    Your Playlist name
                </p>
            </div>

            <div class="bg-gray-800 bg-opacity-75 rounded-lg h-full w-full col-[span_30] xl:col-[span_50]">
                <div class="flex justify-center items-center h-full">
                    <form class="bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-3 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
                          action="/signup" method="post" id="signup">
                        Create your playlist
                    </form>
                </div>   
            </div>
        </div>

    </body>
</html>
    
<!--        
        document.getElementById(key.toString()).className += "scale-105";
    <form>
        {% for key in info %}
            {% for track in tracks %}
                {% for href in info[key] %}
                    {% if track['track']['href'] == href%}    
                        <a>{{ track['track']['name'] }}</a> <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <label>
                <span>{{key}}</span>
                <input type="checkbox" name="tag" value="{{key}}">
            </label>
            <br>
        {% endfor %}
        <input type="button" value="Submit">
    </form>
-->

<!--
     style="direction:rtl;"
                <div class="mx-10 grid grid-cols-1 gap-y-2" style="direction:ltr;">
                    {% for key in info %}
                        <label class="border-2 border-white border-opacity-20 pt-3 rounded-xl h-12 truncate text-justify hover:scale-105 duration-300 ease-in-out" onclick="myFunction('{{ key }}')" id="{{key}}" >
                            <span class="mx-4">{{key}}</span>
                        </label>
                    {% endfor %}
                    <script>
                        function myFunction(key) {
                            if (document.getElementById(key).classList.contains("bg-gray-600")) {
                                document.getElementById(key).className = "border-2 border-white border-opacity-20 pt-3 rounded-xl h-12 truncate text-justify hover:scale-105 duration-300 ease-in-out";
                            } else {
                                document.getElementById(key).className += " scale-105 bg-gray-600";
                            }
                        }
                    </script>
                    <p id="demo"></p>
                </div>
-->