<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    {% if no_playlist %}
        <span>You have no playlist</span>
    {% else %}
        {% for item in user_playlist['items'] %}
            <div>
                <img src="{{item['images'][0]['url']}}" width="320" height="320">
                <p>name : {{item['name']}} <br> number of tracks : {{item['tracks']['total']}}</p>
            </div>
        {% endfor %}
    {% endif %}
</body>
</html>