<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/style.css') }}">
        <link rel="preload" href="static/src/header.png" as="image">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='src/icon.png') }}">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>Sortify</title>
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

            html {
                font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            }
        </style>
    </head>

    <body class="text-indigo-400 m-6 bg-cover bg-fixed" style="background-image : url('static/src/header.png')">
        <div class="container mx-auto relative w-full">
        <!--Nav-->
            <div class="w-full">
                <div class="w-full flex items-center justify-left">
                    <img src="{{ url_for('static', filename='src/spotify_icon.png') }}" class="mr-3 h-6 sm:h-9" alt="Spotify Logo">
                    <a class="flex items-center text-white opacity-75 no-underline hover:no-underline font-bold text-2xl lg:text-4xl">
                        Sort<span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">ify</span>
                    </a>
                </div>
            </div>

            <!--Main-->
            <div class="container pt-15 mx-auto flex flex-wrap justify-center flex-col md:flex-row items-center">
                <div class="flex flex-col w-full xl:w-2/5 justify-center pt-20 lg:items-start overflow-y-hidden">
                    <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
                        Sort</span>
                        your playlist based on songs'
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
                        genres</span>
                    </h1>
                    <p class="leading-normal text-white md:text-2xl mb-8 text-center md:text-left pt-20">
                        Connect to your Spotify account, select a playlist, the genre to extract and a new playslist will be created.
                    </p>

                    <div class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4">
                        <div class="flex items-center justify-center pt-4">
                            <a
                                class="bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-3 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
                                href="https://accounts.spotify.com/authorize?client_id={{ client_id }}&scope=playlist-read-private%20playlist-modify-private%20playlist-modify-public%20user-read-private&response_type=code&redirect_uri={{ base_url }}%2Fspotify%2Fcallback">
                                <input type="button" value="Login to Spotify" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        <div class="mx-auto     my-6 text-sm text-center w-full pt-20">
            <a class="text-gray-500 no-underline hover:no-underline">Epitech hub project -</a>
            <a class="no-underline hover:no-underline" href="https://github.com/SimonBandiera" target="_blank">Simon Bandiera</a>
            <a class="text-gray-500 no-underline hover:no-underline">,</a>
            <a class="no-underline hover:no-underline" href="https://github.com/HForGames" target="_blank">Hugo Galan</a>
        </div>
    </body>
</html>
