<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--
        document.getElementById(key.toString()).className += "scale-105";
    <form>
        {% for key in info %}
            {% for track in tracks %}
                {% for href in info[key] %}
                    {% if track['track']['href'] == href%}
                        <a>{{ track['track']['name'] }}</a> <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <label>
                <span>{{key}}</span>
                <input type="checkbox" name="tag" value="{{key}}">
            </label>
            <br>
        {% endfor %}
        <input type="button" value="Submit">
    </form>
-->

<!--
     style="direction:rtl;"
                <div class="mx-10 grid grid-cols-1 gap-y-2" style="direction:ltr;">
                    {% for key in info %}
                        <label class="border-2 border-white border-opacity-20 pt-3 rounded-xl h-12 truncate text-justify hover:scale-105 duration-300 ease-in-out" onclick="myFunction('{{ key }}')" id="{{key}}" >
                            <span class="mx-4">{{key}}</span>
                        </label>
                    {% endfor %}
                    <script>
                        function myFunction(key) {
                            if (document.getElementById(key).classList.contains("bg-gray-600")) {
                                document.getElementById(key).className = "border-2 border-white border-opacity-20 pt-3 rounded-xl h-12 truncate text-justify hover:scale-105 duration-300 ease-in-out";
                            } else {
                                document.getElementById(key).className += " scale-105 bg-gray-600";
                            }
                        }
                    </script>
                    <p id="demo"></p>
                </div>
-->
</body>
</html>